{{ define "footer" }}
    <!-- WORST LANGUAGE EVER -->
    <script src="static/jquery-2.2.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script>
    </script>
    <!-- END WORST LANGUAGE EVER -->
  </body>
</html>
{{ end }}
